<div class="container">
  <h3>Классы</h3>
  <ul class="groups">
    <li *ngFor="let group of groups">
      <button [class.selected]="group === selectedGroup" type="button" routerLink="/groups/{{ group.id }}">
        <span class="badge">{{group.classNumber}}</span>
        <span class="name">{{group.classLetter}}</span>
      </button>
      <input type="button" value="Удалить" (click)="deleteGroup(group.id)" class="btn btn-outline-danger btn-large"
             mdbRipple rippleColor="dark"/>
    </li>
  </ul>
  <input type="button" value="Добавить" class="btn btn-add" (click)="openModalAddNew()"/>
</div>
