<div class="container">
  <div *ngIf="!teachers; else elseBlock">Я загрузка</div>
  <div *ngIf="errors">Я сломался</div>
  <ng-template #elseBlock>
    <h2>Учителя</h2>
    <div *ngIf="teachersEmpty(); else printBlock">Учителей нет</div>
    <ng-template #printBlock>
      <div class="list-group list-group-light">
        <div *ngFor="let teacher of teachers"
             class="list-group-item list-group-item-action px-3 border-0"
             aria-current="true"
        >
          <h5 routerLink="/teachers/{{ teacher.id }}">{{ teacher.lastname }} {{ teacher.firstname }}</h5>
          <div class="text-muted">{{teacher.email}}</div>
          <input type="button" value="Удалить" (click)="deleteTeacher(teacher.id)" class="btn btn-outline-danger"
                 mdbRipple rippleColor="dark"/>
        </div>
      </div>
    </ng-template>
  </ng-template>
  <input type="button" value="Добавить" class="btn btn-add" (click)="openModalAddNew()"/>
</div>
