<div class="cal-body">
  <div class="cal-mouth">
    <button
      type="button"
      class="btn btn-outline-info btn-rounded"
      data-mdb-toggle="button"
      (click)="onPreviousMonth()"> <
    </button>
    <h3> {{ calendarCreator.getMonthName(monthNumber) }} &nbsp; {{ year }} </h3>
    <button
      type="button"
      class="btn btn-outline-info btn-rounded"
      data-mdb-toggle="button"
      (click)="onNextMonth()"> >
    </button>
  </div>

  <br>
  <div class="cal-container">
    <table class="container">
      <thead class="table-head">
      <tr>
        <th>
          Ученики
        </th>
        <th class="table-head-cell" *ngFor="let day of getDays()">
          <h1>{{ day }}</h1>
        </th>
      </tr>
      </thead>
      <tbody class="table-body">
      <tr *ngFor="let student of students">
        <td class="first-column">
          {{student.lastname + " " + student.firstname}}
        </td>
        <ng-container *ngIf="getListResultsByStudent(student.id) as ListResults">
          <td class="body" *ngFor="let day of getDays()">
            <input class="input"
                   #inputElement
                   maxlength="1"
                   type="text"
                   value="{{getResult(ListResults, day, monthNumber)}}"
                   (change)="changeResult(student, day, monthNumber, year, inputElement.value)">
          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="btn-save">
    <button type="button" class="btn btn-primary" [disabled]="!change" (click)="reset()">
      Очистить
    </button>
    <button type="button" class="btn btn-primary" [disabled]="!change" (click)="save()">
      Сохранить
    </button>
  </div>
</div>
