<div class="cal-body">
  <div class="cal-mouth">
    <button class="btn-cal-btn" (click)="onPreviousMonth()"> <</button>
    <strong> {{ calendarCreator.getMonthName(monthNumber) }} &nbsp; {{ year }} </strong>
    <button class="btn-cal-btn" (click)="onNextMonth()"> ></button>
  </div>

  <br>
  <div class="cal-container">
    <table class="container">
      <thead class="table-head">
      <tr>
        <th>
          Ученики
        </th>
        <th class="table-head-cell" *ngFor="let day of getDays()">
          <h1>{{ day }}</h1>
        </th>
      </tr>
      </thead>
      <tbody class="table-body">
      <tr *ngFor="let student of students">
        <td class="first-column">
          {{student.lastname + " " + student.firstname}}
        </td>
        <ng-container *ngIf="getListResultsByStudent(student.id) as ListResults">
          <td class="body" *ngFor="let day of getDays()">
            <input class="input"
                   #inputElement
                   name="record-{{student.id}}-{{day}}-{{monthNumber}}"
                   maxlength="1"
                   type="text"
                   value="{{getResult(ListResults, day, monthNumber)}}"
                   (change)="changeResult(student, day, monthNumber, year, inputElement.value)">
          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="btn-save">
    <button (click)="save()" >
      Сохранить
    </button>
  </div>
</div>
