<H1>Журнал работает</H1>

<div>
  <button (click)="onPreviousMonth()"> Previous</button>
  <span> {{ calendarCreator.getMonthName(monthNumber) }} &nbsp; {{ year }} </span>
  <button (click)="onNextMonth()"> Next</button>
</div>

<br>

<table class="container">
  <thead>
  <tr>
    <th class="table-head">
      Ученики
    </th>
    <th class="table-head" *ngFor="let day of getDays()">
      <h1>{{ day }}</h1>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of students">
    <td class="first-column">
      {{student.lastname + " " + student.firstname}}
    </td>
    <td *ngFor="let day of getDays()">
      <h3>
        {{getResult(getListResultsByStudent(student.id), day)}}
      </h3>
    </td>
  </tr>
  </tbody>
</table>
