h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.container th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: #185875;
}

.container td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  border-collapse: collapse;
  table-layout: fixed;
}

.container td, .container th {
  border: 2px solid #000000;
}

.body {
  display: table-cell;
  max-width: 0px;
  border: 1px solid gray;
  width: 10px;
}

.table-head-cell {
  width: 23px;
}

.cal-mouth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn-cal-btn {
    font-weight: 500;
    color: black;
  }
}

.cal-body {
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  border-collapse: collapse;
  table-layout: fixed;
}

.cal-container {
  width: 880px;
}

.first-column {
  width: auto;
}

.input {
  width: 100%;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.btn-save {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 1rem
}
