<div class="container">
  <H2>Журнал успеваемости</H2>
  <h6>Выберите класс: </h6>
  <select
    class="custom-select"
    [(ngModel)]="selectedClass"
    (ngModelChange)="onSelectClass(selectedClass)"
  >
    <option *ngFor="let group of groups"
            [ngValue]="group">{{group.classNumber}} {{group.classLetter}}</option>
  </select>
<br>
  <h6>Выберите предмет: </h6>
  <select
    class="custom-select"
    [(ngModel)]="selectedSubject"
    (ngModelChange)="onSelectSubject(selectedSubject)"
  >
    <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.subjectName}}</option>
  </select>
<br>
  <div class="calendar">
    <app-calendar *ngIf="records" [students]="students" [group]="selectedClass" [subject]="selectedSubject" [records]="records"></app-calendar>
  </div>
</div>
